# Cargo configuration for building with real Rust std on Breenix
#
# This configuration enables -Z build-std to compile the standard library
# from our forked Rust compiler (with target_os = "breenix" support),
# and links against libbreenix-libc (libc.a).

[build]
target = "../../x86_64-breenix.json"

[env]
# IMPORTANT: To use the forked std library, you must set __CARGO_TESTS_ONLY_SRC_ROOT
# as a real environment variable BEFORE invoking cargo:
#   export __CARGO_TESTS_ONLY_SRC_ROOT=/path/to/breenix-std/rust-fork/library
# The [env] section cannot set this because cargo reads it too late in the process.

[unstable]
build-std = ["std", "panic_abort"]
build-std-features = ["compiler-builtins-mem"]

[target.x86_64-breenix]
linker = "rust-lld"
rustflags = [
    # Link against libbreenix-libc which provides all C ABI functions
    "-L", "native=../../libs/libbreenix-libc/target/x86_64-breenix/release",
    # Use our linker script to place the binary at 0x40000000
    "-C", "link-arg=-T../../userspace/tests-std/linker.ld",
    # Allow our libc.a to override any duplicate symbols
    "-C", "link-arg=--allow-multiple-definition",
    # Don't link default system libraries (-lc, -lm, -lrt, -lpthread)
    # All symbols are provided by libbreenix-libc (libc.a)
    "-C", "default-linker-libraries=no",
]

[target.aarch64-breenix]
linker = "rust-lld"
rustflags = [
    # Link against libbreenix-libc which provides all C ABI functions
    "-L", "native=../../libs/libbreenix-libc/target/aarch64-breenix/release",
    # Use our linker script to place the binary at 0x40000000
    "-C", "link-arg=-T../../userspace/tests-std/linker.ld",
    # Allow our libc.a to override any duplicate symbols
    "-C", "link-arg=--allow-multiple-definition",
    # Don't link default system libraries (-lc, -lm, -lrt, -lpthread)
    # All symbols are provided by libbreenix-libc (libc.a)
    "-C", "default-linker-libraries=no",
]
